* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

/* nav bar */
.navBar {
  min-width: 100vw;
  height: 58px;
  background-color: #AAC4FF;
  display: flex;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  list-style-type: none;
}
.link {
  color: black;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 10px;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
}