.home-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

/* .search-input {
  width: 50vw;
  height: 5vh;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid;
} */

.search-button {
  font-size: 18px;
  width: 10vw;
  height: 5vh;
  background-color: #B1B2FF;
  color: white;
  border-radius: 10px;
  border: none;
  margin-left: 5px;
}

.home-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
}

.home-house-img{
    height: 60vh;
    width: 80vw;
}
