.Main-Page-Wrapper {
    background-color: #D2DAFF;
    display: flex;
    flex-flow: column nowrap;
    background-image: url('https://img.freepik.com/free-photo/white-blank-concrete-wall-mockup-with-wooden-floor_53876-106171.jpg?w=2000');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}


/* apartment card list */
.apartment-results-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
  }
  
  th,
  td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    font-size: 20px;
  }
  
  th {
  background-color: #eef1ff;
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }
  


