.Main-Page-Wrapper {
    background-color: #D2DAFF;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

/* apartment card list */
.apartment-results-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 8px;
    font-size: 20px;
  }
  
  th {
    background-color: rgb(117, 201, 250);
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }
  


